{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title n:snippet="webTitle">Sandbox | {include title|stripHtml}</title>

    {block css}
        <link rel="stylesheet" href="{$basePath}/css/style.css" type="text/css"/>
    {/block}

    <meta name="viewport" content="width=device-width">
    {block head}{/block}
</head>

<body class="container">
    <header class="header_body">

    </header>

    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" n:href="Home:">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    {* Flash messages.*}
    {snippet flashes}
        {foreach $flashes as $flash}
            <p class="alert alert-{$flash->type}">{$flash->message}</p>
        {/foreach}
    {/snippet}

    <article>
        <header>
            <h1>{include title}</h1>
        </header>
        <section>
            {include content}
        </section>
    </article>

    <footer>
    </footer>
    {block scripts}
        <script type="text/javascript" src="{$basePath}/js/vendor.min.js"></script>
    {/block}
</body>
</html>
